<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>live-mode</string>
			<key>Title</key>
			<string>&quot;Live&quot; mode</string>
			<key>TrueValue</key>
			<true/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>My Event</string>
			<key>Key</key>
			<string>event-name</string>
			<key>Title</key>
			<string>Event</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Here is your photo from the event</string>
			<key>Key</key>
			<string>mms-message</string>
			<key>Title</key>
			<string>MMS Message</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Here is your photo from the event</string>
			<key>Key</key>
			<string>email-message</string>
			<key>Title</key>
			<string>Email Message</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Check out my @smilebooth photo {$link}</string>
			<key>Key</key>
			<string>twitter-message</string>
			<key>Title</key>
			<string>Twitter Message</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Auto-Refesh Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>auto-refresh</string>
			<key>Title</key>
			<string>Auto-Refresh</string>
			<key>TrueValue</key>
			<true/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Key</key>
			<string>auto-refresh-seconds</string>
			<key>Title</key>
			<string>Seconds between refreshes</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>25</string>
			<key>Key</key>
			<string>photos-limit</string>
			<key>Title</key>
			<string>Max Photos</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Server Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0.0.0.0</string>
			<key>Key</key>
			<string>smileserver-ip</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>SmileServer IP</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>/smilebooth/ipad/</string>
			<key>Key</key>
			<string>photos-folder</string>
			<key>Title</key>
			<string>Folder</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
